-
  const navItems = [
    {
      title: "Features",
      href: "#features"
    },
    {
      title: "FAQS",
      href: "#faqs"
    },
    {
      title: "Contact",
      href: "#contact"
    }
  ]

-
  const tabsItems = [
    { 
      active: true,
      left: false,
      class: "tabs__content--first",
      section: "Simple Bookmarking",
      img: "assets/icons/illustration-features-tab-1.svg",
      title: "Bookmark in one click",
      text: "Organize your bookmarks however you like. Our simple drag-and-drop interface gives you complete control over how you manage your favourite sites."
    },
    { 
      active: false,
      left: true,
      class: "tabs__content--second",
      section: "Speedy Searching",
      img: "assets/icons/illustration-features-tab-2.svg",
      title: "Intelligent search",
      text: "Our powerful search feature will help you find saved sites in no time at all. No need to trawl through all of your bookmarks."
    },
    { 
      active: false,
      left: true,
      class: "tabs__content--third",
      section: "Easy Sharing",
      img: "assets/icons/illustration-features-tab-3.svg",
      title: "Share your bookmarks",
      text: "Easily share your bookmarks and collections with others. Create a shareable link that you can send at the click of a button."
    }
  ]

-
  const cardItems = [
    {
      img: "assets/icons/logo-chrome.svg",
      title: "Add to Chrome",
      description: "Minumum version 62"
    },
    {
      img: "assets/icons/logo-firefox.svg",
      title: "Add to Firefox",
      description: "Minumum version 55"
    },
    {
      img: "assets/icons/logo-opera.svg",
      title: "Add to Opera",
      description: "Minumum version 46"
    }
  ]

-
  const accordionItems = [
    {
      title: "What is Bookmark",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum  quam ornare mattis."
    },
    {
      title: "How can I request a new browser?",
      text: "Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet."
    },
    {
      title: "Is there a mobile app?",
      text: "Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex et ultricies bibendum."
    },
    {
      title: "What about other Chromium browsers?",
      text: "Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam vitae neque eget nisl gravida pellentesque non ut velit."
    }
  ]