-
  const navItems = [
    {
      title: "Features",
      href: "#features"
    },
    {
      title: "FAQS",
      href: "#faqs"
    },
    {
      title: "Contact",
      href: "#contact"
    }
  ]

-
  const tabsItems = [
    { 
      active: true,
      class: "tabs__content--first",
      section: "Simple Bookmarking",
      img: "assets/icons/illustration-features-tab-1.svg",
      title: "Bookmark in one click",
      text: "Organize your bookmarks however you like. Our simple drag-and-drop interface gives you complete control over how you manage your favourite sites."
    },
    { 
      active: false,
      class: "tabs__content--second",
      section: "Speedy Searching",
      img: "assets/icons/illustration-features-tab-2.svg",
      title: "Intelligent search",
      text: "Our powerful search feature will help you find saved sites in no time at all. No need to trawl through all of your bookmarks."
    },
    { 
      active: false,
      class: "tabs__content--third",
      section: "Easy Sharing",
      img: "assets/icons/illustration-features-tab-3.svg",
      title: "Share your bookmarks",
      text: "Easily share your bookmarks and collections with others. Create a shareable link that you can send at the click of a button."
    }
  ]

-
  const cardItems = [
    {
      img: "assets/icons/logo-chrome.svg",
      title: "Add to Chrome",
      description: "Minumum version 62"
    },
    {
      img: "assets/icons/logo-firefox.svg",
      title: "Add to Firefox",
      description: "Minumum version 55"
    },
    {
      img: "assets/icons/logo-opera.svg",
      title: "Add to Opera",
      description: "Minumum version 46"
    }
  ]

-
  const accordionItems = [
    {
      title: "Frequently Asked Questions",
      text: "Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us."
    },
    {
      title: "What is Bookmark",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum  quam ornare mattis."
    },
    {
      title: "What is Bookmark",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum  quam ornare mattis."
    },
  ]