footer.footer#contact
  .footer__container
    h3.footer__title 35,000+ already joined
    p.footer__subtitle Stay up-to-date with what we’re doing
    form#form.form
      .form__field
        input(type="email" placeholder="Enter your email address").form__input
        .form__input-error Whoops, make sure it's an email
        button.button.button--red Contact Us
  nav.footer__menu
    .logo
      img(src="assets/icons/logo-bookmark.svg", alt="logo").logo__img
    ul.footer-menu
      each item in navItems
        li.footer-menu__item.footer-menu__item--border-none: a(href=`${item.href}`).footer-menu__link= item.title
    .social-icons-footer
      img(src="assets/icons/icon-facebook.svg", alt="").social-icons__img
      img(src="assets/icons/icon-twitter.svg", alt="").social-icons__img