footer.footer
  h3.footer__title
  p.footer__text
  form#form.form
    input(type="email" placeholder="Enter your email address").form__input
    button.button Contact Us
nav.footer-nav.nav
  .logo
    img(src="", alt="").logo__img
  nav.main-nav.nav
    ul.main-menu
      each item in navItems
        li.main-menu__item: a(href=`${item.href}`)= item.title
    .social-networwks
      a(href="#"): i.fa.fa-facebook
      a(href="#"): i.fa.fa-twitter